<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Application page</title>
    </head>
    <body backgroundimage="login pic.png">
        <h1>Application</h1>
        <form method="POST" action="/apply">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required><br><br>
            
            <label for="to">To:</label>
            <input type="text" id="to" name="to" required><br><br>

            <label for="Date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>

            <label for="Vacancies">Vacancies:</label>
            <input type="number" id="vac" name="vac" required><br><br>

            <input type="submit" value="Search for Buddies">
        </form>
    </body>
</html>