<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body backgroundimage="login pic.png">
    <form method="POST" action="/login">
        <H1>Travel Buddy</H1><br><br>
        <a href="/find"><button type="button" value="Find a Buddy">Find a Buddy</button></a><br><br>
        <a href="/apply"><button type="button" value="Apply for buddies">Apply for Buddies</button></a><br><br>
    </form>
</body>
</html>